{% extends "base.html" %}

{% block title %}
  Пользователи
{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">
  <h1 class="mb-0">Пользователи</h1>
  {% if users %}
    <a href="/random" class="btn btn-outline-success"><i class="bi bi-shuffle"></i> Случайный пользователь</a>
  {% endif %}
</div>

{% if load_message %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ load_message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endif %}

<form method="post" action="/load" class="mb-4">
  <div class="row g-2 align-items-center">
    <div class="col-auto">
      <input type="number" class="form-control" name="count" min="1" max="5000" required placeholder="Кол-во">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary"><i class="bi bi-cloud-download"></i> Загрузить пользователей</button>
    </div>
  </div>
</form>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">

  {% for user in users %}
  <div class="col">
    <div class="card h-100 shadow-sm border-0 rounded-3">
      <div class="card-body d-flex align-items-center">
        <img src="{{ user.photo_url }}" alt="avatar"
             class="rounded-circle me-3" width="60" height="60"
             style="object-fit: cover;">

        <div class="flex-grow-1">
          <h5 class="card-title mb-1">{{ user.full_name }}</h5>
          <p class="card-text text-muted mb-1 small">
            <strong>Пол:</strong> {% if user.gender == 'male' %}
            Мужской
            {% else %}
            Женский
            {% endif %}
          </p>
          <p class="card-text text-muted mb-1 small"><strong>Телефон:</strong> {{ user.phone }}</p>
          <p class="card-text text-muted mb-1 small"><strong>Email:</strong> {{ user.email }}</p>
          <p class="card-text text-muted mb-0 small"><strong>Место жительства:</strong> {{ user.location }}</p>
        </div>

        <a href="/user/{{ user.id }}" class="btn btn-outline-primary"> <i class="bi bi-info-circle"></i> </a>
      </div>
    </div>
  </div>
  {% endfor %}

</div>

<nav class="mt-5 d-flex justify-content-center">
  <ul class="pagination">
      {% if page > 1 %}
      <li class="page-item">
          <a class="page-link" href="/?page={{ page - 1 }}">←</a>
      </li>
      {% endif %}

      {% for p in visible_pages %}
      {% if p == "..." %}
          <li class="page-item disabled"><span class="page-link">...</span></li>
      {% else %}
          <li class="page-item {% if p == page %}active{% endif %}">
              <a class="page-link" href="/?page={{ p }}">{{ p }}</a>
          </li>
      {% endif %}
      {% endfor %}

      {% if page < pages %}
      <li class="page-item">
          <a class="page-link" href="/?page={{ page + 1 }}">→</a>
      </li>
      {% endif %}
  </ul>
  </nav>

{% endblock %}